body{
	font-family:Arial, sans-serif;
	background-color:#fff8f0;
	margin:0;
	padding:0;
}
header,nav,footer{
	background-color:#f3cfa4;
	padding:15px;
	text-align:center;
}
nav a{
	margin:0 10px;
	text-decoration:none;
	color:#333;
	font-weight:bold;
}
main{
	padding:20px;
}
h1,h2{
	color:#d35400;
}
ul,ol{
	padding-left:20px;
}
img{
	max-width:100%;
	heigt:auto;
}
.gallery{
	display:flex;
	gap:10px;
	flex-wrap:wrap;
}
.gallery img{
	width: 45%;
	border:2px solid #ddd;
	border-radius:5px;
}
form {
	display:flex;
	flex-direction:column;
	gap:10px;
	max-width:400px;
	margin:auto;
}
footer{
	margin-top:30px;
}